.productos{
    background-color: white;
    margin: 10px 10px 0 10px;
    -webkit-box-shadow: 3px 4px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 4px 16px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
    
}

